<%= stylesheet_link_tag "table_styles", media: "all", "data-turbo-track": "reload" %>

<div class="annotations">
  <header>
    <h1>Editar Anotação</h1>
  </header>

  <%= form_with(model: [@element, @annotation], local: true) do |form| %>
    <%= form.text_area(:content, rows: 5, value: @annotation.content) %>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

  <footer>
    <%= link_to '⬅️ Voltar', table_path(@element.id), class: :back %>
  </footer>
</div>
