<%= stylesheet_link_tag "table_styles", media: "all", "data-turbo-track": "reload" %>

<h1>Anotações do elemento <%= @element.name %></h1>
<p><%= @annotation.content %></p>


<%= link_to 'Editar', edit_element_annotation_path(@element, @annotation) %> |
<%= link_to 'Voltar', table_path(@element) %>
